@page "/Stocking"
<h3>Stock</h3>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Product Barcode</th>
                <th>Product Location</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in LocalDb.AvailableProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Barcode</td>
                    <td>@product.Location</td>
                </tr>
            }
        
            </tbody>
        </table>
@code {

}   